<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
</head>
<body>
    <form action="/admin/add" method="POST">
        {{ productForm.name(placeholder='Product Name')}}
        {{ productForm.price(placeholder='Product Price')}}
        {{ productForm.date(placeholder='Add date')}}
        {{ productForm.submit(value='Add data')}}
    </form>
</body>
</html>