<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>ProductName</th>
                <th>ProductPrice</th>
                <th>Add date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{product.id}}</td>
                <td>{{product.productName}}</td>
                <td>{{product.productPrice}}</td>
                <td>{{product.add_date}}</td>
                <td>
                    <a href="/admin/update/{{product.id}}">Update</a>
                    <a href="/admin/delete/{{product.id}}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>