<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body>
    <form action="/admin/update/{{product.id}}" method="POST">
        <input type="text" placeholder="Product_Name" name="p_name" value="{{product.productName}}">
        <input type="text" placeholder="Product_Price" name="p_price" value="{{product.productPrice}}">
        <input type="submit" value="Update">
    </form>
</body>
</html>