<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
</head>
<body>
    <form action="/admin/product/add" method="POST">
        <input type="text" placeholder="Product name" name="productName">
        <input type="text" placeholder="Product price" name="productPrice">
        <input type="submit" value="ADD">
    </form>
</body>
</html>